version: '3.9'

services:
  postgres:
    image: postgis/postgis
    volumes:
        - ./volumes/postgres:/var/lib/postgresql/data
    environment:
        - PGDATA=/var/lib/postgresql/data/pgdata
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_DB=postgres
    restart: unless-stopped
    ports:
        - 5432:5432
    healthcheck:
        test: ['CMD-SHELL', 'pg_isready -U postgres']
        interval: 5s
        timeout: 5s
        retries: 5
    command: 'postgres -c wal_level=logical'
    networks:
      - company-network

networks:
  company-network:
    driver: bridge